# --------------------------------------------------------------------------------
# Slack
# --------------------------------------------------------------------------------

# https://api.slack.com/apps/A0AKASXUKLJ/general > App Credentials > Signing Secret.
SLACK_SIGNING_SECRET=""

# https://api.slack.com/apps/A0AKASXUKLJ/general > App-Level Tokens.
# Scopes:
# - chat:write
# - commands
# - users:write
SLACK_APP_TOKEN="xapp-"

# https://api.slack.com/apps/A0AKASXUKLJ/features/oauth-permissions > OAuth Tokens.
SLACK_BOT_TOKEN="xoxb-"

# #cimi-bot.
SLACK_ALLOWED_CHANNEL_ID="C0AKELWU5U4"

# --------------------------------------------------------------------------------
# Google
# --------------------------------------------------------------------------------

# https://console.cloud.google.com/welcome?project=cimi-bot > IAM & Admin > Service Accounts.
GOOGLE_SERVICE_ACCOUNT_EMAIL=""

# https://console.cloud.google.com/welcome?project=cimi-bot > IAM & Admin > Service Accounts > Keys.
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=""

# https://admin.google.com/ac/owl/domainwidedelegation (admin@runwithcimi.org).
# Scopes:
# - https://www.googleapis.com/auth/admin.directory.user
# - https://www.googleapis.com/auth/admin.directory.group
# - https://www.googleapis.com/auth/gmail.send
GOOGLE_ADMIN_EMAIL="admin@runwithcimi.org"

# --------------------------------------------------------------------------------
